/* Colours work */
header {
    color: #fe8c17;
	}
.navbar-default .nav li a {
    color: #fe8c17;
	}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #4FFEDF;
}
.text-primary {
    color: #fe8c17;
}
a {
    color: #fe8c17;
}
.btn-primary {
    border-color: #fe8c17;
    background-color: #fe8c17;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fe8c17;
    background-color: #fe8c17;
}
.btn-primary .badge {
    color: #fe8c17;
}

.btn-xl {
    border-color: #fe8c17;
    background-color: #fe8c17;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fe8c17;
    background-color: #fe8c17;
}

.btn-xl .badge {
    color: #fe8c17;
}
.navbar-default .navbar-brand {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,cursive;
    color: #fe8c17;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
    border-color: #fe8c17;
    background-color: #fe8c17;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fe8c17;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fe8c17;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #fe8c17;
}

.timeline>li .timeline-image {
    background-color: #fe8c17;
}

section#contact .form-control:focus {
    border-color: #fe8c17;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fe8c17;
}

::-moz-selection {
    background: #fe8c17;
}

::selection {
    background: #fe8c17;
}

body {
    webkit-tap-highlight-color: #fe8c17;
}

/* Font work */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-primary {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-xl {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .nav li a {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header .intro-text .intro-heading {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#contact::-webkit-input-placeholder {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#contact:-moz-placeholder {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#contact::-moz-placeholder {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#contact:-ms-input-placeholder {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer span.copyright {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer ul.quicklinks {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header .intro-text .intro-lead-in {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header .intro-text .intro-lead-in {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section h3.section-subheading {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.portfolio-modal .modal-content p.item-intro {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Static pages */
staticheader {
    text-align: center;
    color: #fe8c17;
}
staticheader .intro-text {
    padding-top: 50px;
    padding-bottom: 0px;
}

staticheader .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

staticheader .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
@media(min-width:768px) {
    staticheader .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    staticheader .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

static .staticbody {
    padding: 0 50px 0 50px;
}