<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
  <body id="page-top" class="index">
    {{ partial "staticnav.html" . }}
    {{ partial "statichero.html" . }}
	<static>
    <div class="staticbody">
    {{ .Content }}
	</div>
	</static>
    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
