{{ "<!-- Services -->" | safeHTML }}
<section id="services" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.services.title }}{{ . }}{{ end }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4  text-center">
        <img class="beardybattlers" src="../img/beardybattlers.jpeg" />
        <a href="https://social.shorthand.com/samaritans" title="Samaritan's Suicide Statistics Report"><img class="beardybattlers" src="https://shorthand-social.imgix.net/prod/story/3CcQEJ3s9Ec/media/a97b50701da111e68172cfb1db5e8826/original.jpg"
            alt="Infographic showing number of deaths in 2014 split out by geneder for the UK & RI" /></a>
        <a href="//www.thecalmzone.net" title="Campaign Against Living Miserably"><img class="beardybattlers" src="../img/IN_SUPPORT_MIDBLUE_RGB.png" /></a>
      </div>
      <div class="col-md-8">
        <p>{{ .Site.Params.services.subtitle | markdownify }}
          <p>
      </div>
    </div>
    {{ range .Site.Params.services.row }}
    <div class="row text-center">
      {{ range .list }}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
            </span>
        <h4 class="service-heading">{{ .title | markdownify }}</h4>
        <p class="text-muted">{{ .description | markdownify }}</p>
      </div>
      {{ end }}
    </div>
    {{ end }}
    <div class="row text-center">
      <p class="ps">{{ .Site.Params.services.ps | markdownify }}
        <p>
    </div>
  </div>
</section>